<div>
    <h3>Elite Development Project for Xiaomi Devices</h3>
    <p>By HassanMirza01</p>
</div>
<br/>
<div>
    <h3>Big Thanks to</h3>
    <p>Xiaomi.eu for translations and some fixes</p>
    <p>MiRoom for their customization ideas</p>
</div>
<br/>
<div>
    <h3>EliteRomPlus Sponsors:</h3>
    <p>Dean Fauzi</p>
    <p>Patrick</p>
    <p>Zeeforgotten</p>
    <p>Dark Hawk</p>
    <p>Coach_Kent</p>
    <p>iFlex</p>
    <p>Zafar Ali</p>
    <p>Jiggy</p>
</div>
<br/>
<div>
    <h3>Keep visiting for all type of updates:</h3>
    <p>https://www.EliteDevelopment.com.pk</p>
    <p>https://hassanmirza01.blogspot.com</p>
</div>
<br/>
<div>
    <h3>Telegram Links/Contacts:</h3>
    <p>@HassanMirza01</p>
    <p>@EliteDevelopmentforMi</p>
    <p>@EliteDevelopmentforMiChannel</p>
    <p>@EliteDevelopment</p>
</div>
